<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加法计算器</title>
    <style>
        div.cal {
            padding-left: 300px;
            width: 600px;
            margin: 150px auto;
        }
    </style>
</head>
<body>
    <div id="app" class="cal">
        <h1>加法计算器</h1>
        <div>
            <span>数值1：</span>
            <span>
                <input type="text" v-model="a">
            </span>
        </div>
        <div>
            <span>数值2：</span>
            <span>
                <input type="text" v-model="b">
            </span>
        </div>
        <div>
            <button @click="handle">计算</button>
        </div>
        <div >
            <span>计算结果:</span>
            <span v-text="result"></span>
        </div>
        <div>
            <span>
                <button>rotate</button>
            </span>
            <span>
                <button>grail</button>
            </span>
        </div>
    </div>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
        document.getElementsByTagName('button')[0].onclick = function () {
            let res = window.confirm('您确定要跳转到旋转页？');
            console.log(res);
            if(res){
                console.log(res);
                location.herf = './001旋转动画.html';
            }
        };
        var vm = new Vue({
            el: '#app',
            data: {
                a: '',
                b: '',
                result: ''
            },
            methods: {
                handle: function(){
                    this.result = parseInt(this.a) + parseInt(this.b);
                }
            }
        });
    </script>
</body>
</html>
